In [1]:
%pip install pandas nltk

Requirement already satisfied: pandas in ./venv/lib64/python3.11/site-packages (2.0.0)
Requirement already satisfied: nltk in ./venv/lib64/python3.11/site-packages (3.8.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib64/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib64/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib64/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in ./venv/lib64/python3.11/site-packages (from pandas) (1.24.2)
Requirement already satisfied: click in ./venv/lib64/python3.11/site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in ./venv/lib64/python3.11/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in ./venv/lib64/python3.11/site-packages (from nltk) (2023.3.23)
Requirement already satisfied: tqdm in ./venv/lib64/python3.11/site-packages (from nltk) (4.65.0)
Requirement already satisfied: six>=1.5 in ./venv/lib64/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

df = pd.read_excel('data/fake_new_dataset.xlsx')
df.head()

,Unnamed: 0,title,text,subcategory,label
0,0,FACEBOOK DELETES MICHIGAN ANTI-LOCKDOWN GROUP ...,Facebook has shuttered a popular group for Mic...,false news,0
1,1,Other Viewpoints: COVID-19 is worse than the flu,We can now officially put to rest all comparis...,true,1
2,2,Bermuda's COVID-19 cases surpass 100,The Ministry of Health in Bermuda has confirme...,true,1
3,3,Purdue University says students face 'close to...,"Purdue University President Mitch Daniels, the...",partially false,0
4,4,THE HIGH COST OF LOCKING DOWN AMERICA: “WE’VE ...,Locking down much of the country may have help...,false news,0

In [11]:
df = df.query('label == 1')
df['title_plus_texts'] = df['title'] + ' ' + df['text']
df['title_plus_texts'] = df['title_plus_texts'].str.strip()

df = df[['title', 'text', 'title_plus_texts']]

In [6]:
import nltk
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')

titles = df['title'].str.cat(sep='. ')
texts = df['text'].str.cat(sep=' ')
titles_plus_texts = df['title_plus_texts'].str.cat(sep=' ')

pocet_viet_titles = len(nltk.sent_tokenize(titles))
pocet_viet_texts = len(nltk.sent_tokenize(texts))

pocet_tokenov_titles = len(nltk.word_tokenize(titles))
pocet_tokenov_texts = len(nltk.word_tokenize(texts))

titles_words = tokenizer.tokenize(titles)
texts_words = tokenizer.tokenize(texts)

pocet_slov_titles = len(titles_words)
pocet_slov_texts = len(texts_words)

pocet_pismen_titles = len("".join(titles_words))
pocet_pismen_texts = len("".join(texts_words))

mydfdata = [
    ('Pocet viet', pocet_viet_titles, pocet_viet_texts, pocet_viet_titles + pocet_viet_texts),
    ('Pocet slov', pocet_slov_titles, pocet_slov_texts, pocet_slov_titles + pocet_slov_texts),
    ('Pocet tokenov', pocet_tokenov_titles, pocet_tokenov_texts, pocet_tokenov_titles + pocet_tokenov_texts),
    ('Priemerna dlzka vety', pocet_slov_titles / pocet_viet_titles, pocet_slov_texts / pocet_viet_texts, (pocet_slov_titles + pocet_slov_texts) / (pocet_viet_titles + pocet_viet_texts)),
    ('Priemerna dlzka slova', pocet_pismen_titles / pocet_slov_titles, pocet_pismen_texts / pocet_slov_texts, (pocet_pismen_titles + pocet_pismen_texts) / (pocet_slov_titles + pocet_slov_texts)),
    ]

mydf = pd.DataFrame(mydfdata, columns=['', 'Titles', 'Texts', 'Titles + texts'])
mydf.style.hide()